// Cor de fundo
$corDeFundo:#020203;
$corDoFooter: #130f40;

// Cores dos gradientes
$corDoGradiente1: #7ed6df;
$corDoGradiente2: #22a6b3;
$corDoGradiente3: #686de0;
$corDoGradiente4: #4834d4;
$corDoGradiente5: #30336b;

// Cores de Texto
$corDeTextoPrincipal: #f5f6fa;
$corDeTextoSecundario: #7ed6df;
$corDeTextoTerciario: #f9cb72;

// Cor dos links
$corDoLink: #f9cb72;